# dependencies
node_modules

# logs
npm-debug.log
yarn-debug.log
yarn-error.log

# environment files
.env

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode
.idea

# buildoutput (if you ever add them)
dist
build

# misc
.log